<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.9" name="org.jboss.as.jsf-injection:myfaces">
    <properties>
        <property name="jboss.api" value="private"/>
    </properties>

    <resources>
        <artifact name="${org.wildfly:myfaces-injection}"/>
    </resources>

    <dependencies>
        <module name="jakarta.faces.impl:myfaces"/>
        <module name="jakarta.faces.api:myfaces"/>

        <module name="jakarta.enterprise.api"/>
        <module name="jakarta.servlet.api"/>
        <module name="java.logging"/>
        <module name="java.naming"/>

        <module name="org.jboss.as.ee"/>
        <module name="org.jboss.as.jsf"/>
        <module name="org.jboss.as.web-common"/>
        <module name="org.jboss.logging"/>
        <module name="org.jboss.weld.api"/>
        <module name="org.jboss.weld.core"/>
        <module name="org.wildfly.security.elytron"/>
    </dependencies>

    <provides>
        <service name="jakarta.servlet.ServletContainerInitializer">
            <with-class name="org.wildfly.extras.jsf.myfaces.injection.MyFacesContainerInitializer"/>
        </service>
    </provides>
</module>
